.rating.small {
	height: 24px;
	width: 137px;
	display: block;
	background: transparent url('../images/ratings_small.png') center center no-repeat;
	margin-bottom: 2px;
}

.rating.small.r00 {
	background-position: 0 0px;
}

.rating.small.r05 {
	background-position: 0 -24px;
}

.rating.small.r10 {
	background-position: 0 -48px;
}

.rating.small.r15 {
	background-position: 0 -72px;
}

.rating.small.r20 {
	background-position: 0 -96px;
}

.rating.small.r25 {
	background-position: 0 -121px;
}

.rating.small.r30 {
	background-position: 0 -145px;
}

.rating.small.r35 {
	background-position: 0 -169px;
}

.rating.small.r40 {
	background-position: 0 -193px;
}

.rating.small.r45 {
	background-position: 0 -217px;
}

.rating.small.r50 {
	background-position: 0 -241px;
}